{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Ajouter une catégorie</h4>
    </div>

    {% if session.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(session.notification.type, session.notification.message, session.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}

    <form method="post" action="{{ getRouteUrl('admin_categorie_new_process', {categorie_id : categorie.id}) }}" enctype="multipart/form-data">
        <div class="grid-x grid-padding-x">

            {# Libellé #}
            <div class="medium-6 cell">
                <label for="libelle">
                    Libellé
                    <input type="text" name="libelle" id="libelle" value="{{ vars['post']['libelle'] is defined ? vars['post']['libelle'] : '' }}">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            {# Description #}
            <div class="medium-6 cell">
                <label for="descrition">Description</label>
                <textarea name="description" id="descrition" rows="10">{{ vars['post']['description'] is defined ? vars['post']['description'] : '' }}</textarea>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label for="image">Ajouter une image</label>
                <input type="file" name="image" id="image">
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-6 cell">
                <button class="button">Valider les modifications</button>
            </div>
        </div>
    </form>


{% endblock %}
