@font-face {
    font-family: Good Vibration;
    src: url(../fonts/GoodVibrationsScript.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Great Vibes";
    src: url(../fonts/GreatVibes-Regular.ttf);
}