@mixin degrade($color1, $color2){
    background-color: $color1;
    background-image: -moz-linear-gradient(30deg, $color1, $color2);
    background-image: -webkit-linear-gradient(30deg, $color1, $color2);
    background-image: -o-linear-gradient(30deg, $color1, $color2);
    background-image: linear-gradient(60deg, $color1, $color2);
}

@mixin font($font){
    font-family: $font, sans-serif;
}

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  height: $h;
  width: $w;
  background-image: url("#{$at1x_path}");
  background-size: 100% 100%;
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }
}