{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Ajouter une gamme</h4>
    </div>

    {% if session.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(session.notification.type, session.notification.message, session.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}

    <form method="post" action="{{ getRouteUrl('admin_gamme_edit_process') }}" id="form_edit_gamme">
        <div class="grid-x grid-padding-x">

            {# Libellé #}
            <div class="medium-6 cell">
                <label for="libelle"> Libellé
                    <input type="text" name="libelle" id="libelle" value="{{ gamme.libelle }}">
                </label>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-6 cell">
                <button class="button">Valider les modifications</button>
            </div>
        </div>
    </form>


{% endblock %}

{% block javascript %}
    <script src="{{ glb['SRC_ROOT'] }}js/Admin/Gamme/edit.js"></script>
{% endblock %}