@import "app.scss";
//Ajout du framework css "Foundation"
@include foundation-everything;

h1, h2, h3, h4, h5, h6 {
  @include font("Lato");
}


#background_theme {
  @include degrade($color-theme, $color-second);
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

#log-in-form {
  margin-top: 25%;
  border: 1px solid $medium-gray;
  padding: $form-spacing;
  border-radius: $global-radius;
  background-color: white;
}


#admin_logo {
  @include font("Great Vibes");
  text-align: center;
  height: 42px;
  font-size: 1.6em;
  color: $color-black;
  border-bottom: 1px solid $color-black;

  img {
    vertical-align: -6px;
  }

  a:hover {
    color: $color-black;
  }
}

a {
    color: $color-black;
}
a:hover {
  color: $color-grey;
}

.icon-circle {
  background-color: $color-black;
  height: 25px;
  width: 25px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 2px;
}

.menu_list {
  li {
    border-bottom: 1px solid black;
  }
  svg {
    vertical-align: middle;
  }
  span {
    font-size: 1.1em;
    margin-left: 5px;
    vertical-align: middle;
  }
}

#admin_content {
  margin-left: 25px;
}

#admin-title {
  border-bottom: 1px solid $color-black;
  margin-bottom: 50px;
}

.gallery-image-delete .close-button{
   padding: 0.1em 0.25em;;
}

/* Tableau epilation */
.table_admin_epilation {
  input {
    margin-bottom: 0;
  }
  tr th:nth-child(1), tr td:nth-child(1) {
    width: 1%;
    min-width: 50px;
  }
  tr th:nth-child(2), tr td:nth-child(2) {
    width: 50%;
  }
  tr th:nth-child(3), tr td:nth-child(3) {
    width: 10%;
    min-width: 100px;
  }
  tr th:nth-child(4), tr td:nth-child(4) {
    width: 1%;
    min-width: 50px;
    position: relative;
    svg {
      position: absolute;
      top: 12px;
    }
  }

  .in-error td:nth-child(2), .in-error td:nth-child(3) {
    background-color: $color-err;
  }

}