@import "app.scss";
//Ajout du framework css "Foundation"
@include foundation-everything;


.top-bar{
  @extend .top-bar;
  @include degrade($color-theme, $color-second);

  ul{
    background: none;
  }

  li {
    padding-right: 10px;
    @include font("Lato Light");
    font-size: 15px;
    color: $white;
    margin-bottom: 0;
    //margin-right: 10px;
  }

  li:after {
    content: '|';
    padding-left: 5px;
  }

  li:last-child:after{
    content: '';
  }
}

#menu-image {
  //padding-top: 35px;
  padding: 35px 0 35px 0;
}

#nav-bar {
  a {
    color: $color-black;
    font-weight: bold;
  }

  a:hover {
    color: $color-theme;
  }

  li {
    //margin-left: 20px;
  }
}

.orbit-container {
    max-height: 500px;
  img {
    max-height: 500px;
  }
}

.galerie-description {
  background-color: $color-black;
  color : $color-white;
  padding: 23px;

  .titre {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
  }

  .description {
    @include font('Lato Light');
    font-size: 0.9em;
    text-align: justify;
  }

  a {
    display: block;
    text-decoration: underline;
    text-align: center;
  }
}