@import "app.scss";
//Ajout du framework css "Foundation"
@include foundation-everything;

.top-bar{
  @extend .top-bar;
  @include degrade($color-theme, $color-second);

  p {
    color: $white;
    margin-bottom: 0;
    margin-right: 10px;
  }
}
