@import "app.scss";
//Ajout du framework css "Foundation"
@include foundation-everything;


.top-bar{
  @extend .top-bar;
  @include degrade($color-theme, $color-second);

  ul{
    background: none;
  }

  li {
    padding-right: 10px;
    @include font("Lato Light");
    font-size: 15px;
    color: $white;
    margin-bottom: 0;
    //margin-right: 10px;
  }

  li:after {
    content: '|';
    padding-left: 5px;
  }

  li:last-child:after{
    content: '';
  }
}

#menu-image {
  padding: 35px 0 35px 0;
}

#nav-bar {
  a {
    color: $color-black;
    font-weight: bold;
  }

  a:hover {
    color: $color-theme;
  }

  li {
    //margin-left: 20px;
  }
}


//Sub menu
.menu-dropdown {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 49px;
  left: -75px;
  background-color: $color-black;
  opacity: 0.9;
  padding: 20px;
  z-index: 10;
  font-size: 1.1em;
  width: 250px;

  &:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    left: 45%;
    top: -10px;
    transform: rotate(145deg) skew(20deg);
    /* background: red; */
    background-color: $color-black;
    opacity: 0.9;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    justify-content: start !important;
    margin-bottom: 4px;
  }

  a {
    color: $color-theme !important;
    @include font("Lato Light");
    padding: 0;
  }

  li:hover {
    > a {
      border-bottom: 1px solid $color-theme;
    }

  }

  a:before {
    color: $color-theme;
    content: ">";
    margin-right: 10px;
  }
}


.sub-menu-2 {
  background-color: $color-white;
  opacity: 0.9;
  position: absolute;
  left: 250px;
  top: 0;
  padding: 20px;
  width: 400px;

  a {
    color: $color-black !important;
    @include font("Lato Light");
    padding: 0;
  }
}


/* Slider */

/*.orbit-container {
  max-height: 600px;
  img {
    max-height: 600px;
  }
}*/

.galerie-description {
  background-color: $color-black;
  color : $color-white;
  padding: 23px;

  .titre {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
  }

  .liste_tarifs {
    color: $color-theme;
    p {
      @include font('Lato Light');
      font-size: 1em;
      margin-bottom: 0;
      line-height: 1.4em;
    }
    svg {
      margin-right: 5px;
    }
  }

  .description {
    @include font('Lato Light');
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.5em;
  }

  a {
    display: block;
    text-decoration: underline;
    text-align: center;
  }
}

/* FIN Slider */

/*  Liste des services/catégories */

.image-gallerie {
  height: 250px;
  text-align: center;

  .image-gallerie-centent {
    position: relative;
  }

  .image-helper {
    display: inline-block;
    vertical-align: middle;
  }

  .image-gallery-hover {
    //display: none;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: $color-black;

    .image-gallery-hover-text{
      display: block;
      font-size: 0.9em;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
      @include font('Lato Light');
    }

    .image-gallery-hover-libelle {
      display: block;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include font('Lato');
    }

    //Transition du hover
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;

  }

  img {
    max-height: 250px;
    vertical-align: middle;
  }
}
.image-gallerie:hover .image-gallery-hover{
  visibility: visible;
  opacity: 0.9;
}


/*  FIN Liste des services/catégories */

/*  Liste des articles */
.liste-articles {
  p {
    margin-bottom: 0;
  }
}

.image-article {
  height: 180px;
  border-bottom: solid 1px $color-grey;
  padding-bottom: 5px;

  .image-helper {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    max-height: 180px;
    vertical-align: middle;
  }
}

.libelle-article {
  @include font("Lato");
  font-size: 12px;
  color: $color-black;
  text-transform: uppercase;
}
.marque-article {
  @include font("Lato Light");
  font-size: 12px;
  color: $color-black;
  line-height: 10px;
}

/* FIN Liste des articles */

/* Footer */

#pre-footer {
  margin-top: 100px;
  height: 130px;
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;
  align-items: center;

  #follow-us {
    display: inline-block;
    @include degrade($color-theme, $color-second);
    font-size: 0.9em;
    @include font("Lato Light");
    text-transform: uppercase;
    color: $color-white;
    padding: 20px;
    border-radius: 50px;

    p {
      margin: 0;

      svg {
        vertical-align: middle;
        margin-right: 15px;
      }
    }
  }
}

#footer {
  background-color: $color-black;
  color: $color-white;
  @include font("Lato");
  padding-top: 35px;

  p {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  ul {
    @include font("Lato Light");
    font-size: 0.9em;
    list-style: none;
    margin-left: 0;
  }
  li {
    line-height: 18px;
    a {
      color: $color-white;
    }
    a:hover{
      color: $color-theme;
    }
  }
}

#footer-image {
  width: 120px;
  max-width: 80%;
  @extend .circle-shadow;
}

/* FIN Footer */
