<div class="grid-container bloc-title">
    <div class="grid-x grid-margin-x">
        <div class="cell small-auto medium-4 large-4">
            <img src="{{ glb['SRC_ROOT'] }}img/logo_fond.png" width="100px">
        </div>
        <div class="cell small-auto medium-5 large-4">
            <div>
                <h1>{{ titre | raw }}</h1>
                <p>{{ texte | raw }}</p>
            </div>
        </div>
    </div>
</div>