{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Services</h4>
    </div>

    {% if session.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(session.notification.type, session.notification.message, session.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}

    <input type="hidden" name="categorie_id" id="categorie_id" value="{{ categorie_id }}">
    <a href="{{ getRouteUrl('admin_service_new') }}" class="button small"><i class="fas fa-plus"></i> Ajouter un service</a>

<table class="hover">
    <thead>
    <tr>
        <td>Libelle</td>
        <td>Description</td>
        <td>Catégorie</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody id="list_services">
    </tbody>
</table>



{#    <nav aria-label="Pagination">
        <ul class="pagination text-center">
            <li class="disabled"><i class="fas fa-angle-double-left"></i></li>
            <li class="disabled"><i class="fas fa-angle-left"></i></li>
            <li class="current"><span class="show-for-sr"></span> 1</li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li class="ellipsis"></li>
            <li><a>12</a></li>
            <li><a>13</a></li>
            <li class="pagination-next"><a href="#" aria-label="Next page">Suivant</a></li>
        </ul>
    </nav>#}

    <nav aria-label="Pagination" id="pagination">

    </nav>


{% endblock %}

{% block javascript %}
    <script src="{{ glb['SRC_ROOT'] }}js/Admin/service.js"></script>
{% endblock %}